In [1]:
import pickle
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

In [2]:
pd.options.display.max_rows = 999

# UNICOM

# Baseline runs

In [3]:
base_dir = "/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db_archived"

runs   = [
            "MT_Baseline_a868a1618372a781faedfcb1574f5c16/Metrics"
        ]

stats_filename = "agg_class_stats.pkl"

#dhard_base = "/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db/Datasets"
dhard_base = "/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db_archived/Unicom"

dhard_runs = [
                "df_ISIAFood101_full_fc07cbc44009621d1f05d1d227846c31_8922515f3e2435a704fc003db105a960_fc4e79326c45bb5e832b6abb5659732b.pkl"
              ]

# Load labels
val_path = "/bigstor/common_data/food_101/DF/df_food101_val.pkl"
df_val = pd.read_pickle(val_path)

In [4]:
all_stats_paths = []
for r in runs:
    stats_path = os.path.join(base_dir, r, stats_filename)
    all_stats_paths.append(stats_path)
    

all_stats_acc = []
for path in all_stats_paths:
    stats = pd.read_pickle(path)
    all_stats_acc.append(stats['accuracy'])

In [5]:
df_val = df_val.drop_duplicates('label')
df_val_classes = df_val[['class', 'label']]

label_list = list(df_val_classes['label'])

all_acc_list = []
for i in range(len(all_stats_acc)):
    accuracy_list = [all_stats_acc[i][cl] for cl in label_list]
    all_acc_list.append(accuracy_list)

for i in range(len(all_acc_list)):
    col_name = f"accuracy_{i}"
    df_val_classes.insert(2, col_name, all_acc_list[i], True)

In [6]:
df_base = df_val_classes.copy()

cols = [f"accuracy_{i}" for i in range(len(all_acc_list))]
df_base['accuracy_0'].mean()
mean_accs = []
for c in cols:
    t_acc = df_base[c].mean()
    mean_accs.append(t_acc)
print("Accruracy for each run : ", mean_accs)
mean_accs = np.asarray(mean_accs)
print("Mean accuracy across runs : ", np.mean(mean_accs))

Accruracy for each run :  [87.58416003992062]
Mean accuracy across runs :  87.58416003992062

In [7]:
# Classes in ISIA500
df_isia = pd.read_pickle("/bigstor/common_data/ISIA-Food-500/DF/df_ISIA-Food-500_train.pkl")

In [8]:
isia_classes = set(df_isia['class'].unique())

In [9]:
df_base_sorted = df_base.sort_values(by=['accuracy_0'], ascending=False)

In [10]:
base_classes = set(df_base_sorted['class'].unique())
mutual_classes = base_classes.intersection(isia_classes)

In [12]:
df_base_sorted[df_base_sorted['class'].isin(mutual_classes)].iloc[0:11]['class'].tolist()

['Edamame',
 'Hot and sour soup',
 'Pho',
 'Takoyaki',
 'Churros',
 'Beignets',
 'Lobster bisque',
 'Sashimi',
 'Clam chowder',
 'Onion rings',
 'French onion soup']

In [11]:
df_base_sorted[df_base_sorted['class'].isin(mutual_classes)].iloc[0:11]

                                           class  label  accuracy_0
edamame/2263853.jpg                      Edamame     33   99.599998
hot_and_sour_soup/1864685.jpg  Hot and sour soup     54   96.800003
pho/163128.jpg                               Pho     75   95.200005
takoyaki/3609028.jpg                    Takoyaki     97   94.800003
churros/274692.jpg                       Churros     23   94.400002
beignets/847393.jpg                     Beignets      6   93.599998
lobster_bisque/378185.jpg         Lobster bisque     60   93.200005
sashimi/3686273.jpg                      Sashimi     86   92.800003
clam_chowder/770062.jpg             Clam chowder     24   92.400002
onion_rings/3494133.jpg              Onion rings     68   92.400002

# Augmented runs

In [8]:
base_dir = "/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db"

runs = [
    "MT_Augmented_41c38b7924ccee328a4d3825552ec34f/Metrics"
]


stats_filename = "agg_class_stats.pkl"

# Load labels
#val_path = "/bigstor/zsarwar/Imagenet/DF/df_imagenet_dogs_val.pkl"
val_path = "/bigstor/common_data/food_101/DF/df_food101_val.pkl"
df_val = pd.read_pickle(val_path)

In [9]:
all_stats_paths = []
for r in runs:
    stats_path = os.path.join(base_dir, r, stats_filename)
    all_stats_paths.append(stats_path)
    
all_stats_acc = []
for path in all_stats_paths:
    stats = pd.read_pickle(path)
    all_stats_acc.append(stats['accuracy'])

In [10]:
df_val = df_val.drop_duplicates('label')
df_val_classes = df_val[['class', 'label']]

label_list = list(df_val_classes['label'])

all_acc_list = []
for i in range(len(all_stats_acc)):
    accuracy_list = [all_stats_acc[i][cl] for cl in label_list]
    all_acc_list.append(accuracy_list)

for i in range(len(all_acc_list)):
    col_name = f"accuracy_{i}"
    df_val_classes.insert(2, col_name, all_acc_list[i], True)   
#df_val_classes.insert(2, "accuracy", accuracy_list, True)

In [11]:
df_aug = df_val_classes.copy()

cols = [f"accuracy_{i}" for i in range(len(all_acc_list))]
df_aug['accuracy_0'].mean()
mean_accs = []
for c in cols:
    t_acc = df_aug[c].mean()
    mean_accs.append(t_acc)
print("Accruracy for each run : ", mean_accs)
mean_accs = np.asarray(mean_accs)
print("Mean accuracy across runs : ", np.mean(mean_accs))

Accruracy for each run :  [87.50099170798123]
Mean accuracy across runs :  87.50099170798123

# DF EMP

In [12]:
all_emp_paths = []
for r in dhard_runs:
    emp_path = os.path.join(dhard_base, r)
    all_emp_paths.append(emp_path)
    
all_df_emps = []

for p in all_emp_paths:
    df_emp = pd.read_pickle(p)
    all_df_emps.append(df_emp)

In [13]:
all_emp_classes = []
for i in range(len(all_df_emps)):
    emp_classes = all_df_emps[i]['class'].unique().tolist()
    all_emp_classes.append(emp_classes)

In [14]:
all_acc_diffs = []
for i in range(len(all_emp_classes)):
    col_name = f"accuracy_{i}"
    col_diff = df_aug[df_aug['class'].isin(all_emp_classes[i])][col_name] - df_base[df_base['class'].isin(all_emp_classes[i])][col_name]
    col_diff_sum = col_diff.sum()
    all_acc_diffs.append(col_diff_sum)

In [15]:
sum(all_acc_diffs) / 9

2.9777789645724826

In [16]:
df_aug[df_aug['class'].isin(all_emp_classes[0])]

                                        class  label  accuracy_0
ceviche/42489.jpg                     Ceviche     15   76.400002
huevos_rancheros/883821.jpg  Huevos rancheros     56   81.200005
garlic_bread/2981508.jpg         Garlic bread     46   82.400002
apple_pie/1272958.jpg               Apple pie      0   70.800003
filet_mignon/2325804.jpg         Filet mignon     37   74.000000
chocolate_mousse/612385.jpg  Chocolate mousse     22   78.400002
crab_cakes/943630.jpg              Crab cakes     26   83.200005
lasagna/207825.jpg                    Lasagna     59   81.599998
cheesecake/2574796.jpg             Cheesecake     16   81.200005

In [17]:
df_aug[df_aug['class'].isin(all_emp_classes[0])]['accuracy_0'] - df_base[df_base['class'].isin(all_emp_classes[0])]['accuracy_0']

ceviche/42489.jpg              0.400002
huevos_rancheros/883821.jpg    5.200005
garlic_bread/2981508.jpg       4.400002
apple_pie/1272958.jpg          4.400002
filet_mignon/2325804.jpg       0.000000
chocolate_mousse/612385.jpg    2.000000
crab_cakes/943630.jpg          2.400002
lasagna/207825.jpg             1.599998
cheesecake/2574796.jpg         6.400002
Name: accuracy_0, dtype: float64

In [17]:
(sum(all_acc_diffs) / 3) / 10

4.426666514078776

In [16]:
(sum(all_acc_diffs) / 10)

4.3999992370605465

# GradMatch

# Baseline runs

In [38]:
base_dir = "/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db"

runs   = [
            #"MT_Baseline_075a3dd4b758bf1dc5f8e45e79b19d95/Metrics", # 40
            #"MT_Baseline_7e0b9b0a19780ab4210dd40fe629df3f/Metrics", # 80
            "MT_Baseline_8915e10296bdf7f70fb9b4bfed4f45fe/Metrics"  # 60
        ]

stats_filename = "agg_class_stats.pkl"

dhard_base = "/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db/GradMatch"

dhard_runs = [
              "df_ISIAFood101_full_1707ca43a9ed0f95bee2a13e46fd0b4b_4c62bebbff3a010c8c379fa816b88bee_fc4e79326c45bb5e832b6abb5659732b.pkl"
              ]

# Load labels
val_path = "/bigstor/common_data/food_101/DF/df_food101_val.pkl"
df_val = pd.read_pickle(val_path)

In [39]:
all_stats_paths = []
for r in runs:
    stats_path = os.path.join(base_dir, r, stats_filename)
    all_stats_paths.append(stats_path)
    

all_stats_acc = []
for path in all_stats_paths:
    stats = pd.read_pickle(path)
    all_stats_acc.append(stats['accuracy'])

In [40]:
df_val = df_val.drop_duplicates('label')
df_val_classes = df_val[['class', 'label']]

label_list = list(df_val_classes['label'])

all_acc_list = []
for i in range(len(all_stats_acc)):
    accuracy_list = [all_stats_acc[i][cl] for cl in label_list]
    all_acc_list.append(accuracy_list)

for i in range(len(all_acc_list)):
    col_name = f"accuracy_{i}"
    df_val_classes.insert(2, col_name, all_acc_list[i], True)

In [41]:
df_base = df_val_classes.copy()

cols = [f"accuracy_{i}" for i in range(len(all_acc_list))]
mean_accs = []
for c in cols:
    t_acc = df_base[c].mean()
    mean_accs.append(t_acc)
print("Accruracy for each run : ", mean_accs)
mean_accs = np.asarray(mean_accs)
print("Mean accuracy across runs : ", np.mean(mean_accs))

Accruracy for each run :  [87.53663514392211]
Mean accuracy across runs :  87.53663514392211

# Augmented runs

In [42]:
base_dir = "/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db"

runs = [
        "MT_Augmented_e28e11254b86976145eaea5b3c6af9a2/Metrics"
]


stats_filename = "agg_class_stats.pkl"

# Load labels
#val_path = "/bigstor/zsarwar/Imagenet/DF/df_imagenet_dogs_val.pkl"
val_path = "/bigstor/common_data/food_101/DF/df_food101_val.pkl"
df_val = pd.read_pickle(val_path)

In [43]:
all_stats_paths = []
for r in runs:
    stats_path = os.path.join(base_dir, r, stats_filename)
    all_stats_paths.append(stats_path)
    
all_stats_acc = []
for path in all_stats_paths:
    stats = pd.read_pickle(path)
    all_stats_acc.append(stats['accuracy'])

In [46]:
df_val = df_val.drop_duplicates('label')
df_val_classes = df_val[['class', 'label']]

label_list = list(df_val_classes['label'])

all_acc_list = []
for i in range(len(all_stats_acc)):
    accuracy_list = [all_stats_acc[i][cl] for cl in label_list]
    all_acc_list.append(accuracy_list)

for i in range(len(all_acc_list)):
    col_name = f"accuracy_{i}"
    df_val_classes.insert(2, col_name, all_acc_list[i], True)   
#df_val_classes.insert(2, "accuracy", accuracy_list, True)

In [47]:
df_aug = df_val_classes.copy()

cols = [f"accuracy_{i}" for i in range(len(all_acc_list))]
df_aug['accuracy_0'].mean()
mean_accs = []
for c in cols:
    t_acc = df_aug[c].mean()
    mean_accs.append(t_acc)
print("Accruracy for each run : ", mean_accs)
mean_accs = np.asarray(mean_accs)
print("Mean accuracy across runs : ", np.mean(mean_accs))

Accruracy for each run :  [87.46534819650178]
Mean accuracy across runs :  87.46534819650178

# DF EMP

In [48]:
all_emp_paths = []
for r in dhard_runs:
    emp_path = os.path.join(dhard_base, r)
    all_emp_paths.append(emp_path)
    
all_df_emps = []

for p in all_emp_paths:
    df_emp = pd.read_pickle(p)
    all_df_emps.append(df_emp)

In [49]:
all_emp_classes = []
for i in range(len(all_df_emps)):
    emp_classes = all_df_emps[i]['class'].unique().tolist()
    all_emp_classes.append(emp_classes)

In [50]:
all_acc_diffs = []
for i in range(len(all_emp_classes)):
    col_name = f"accuracy_{i}"
    col_diff = df_aug[df_aug['class'].isin(all_emp_classes[i])][col_name] - df_base[df_base['class'].isin(all_emp_classes[i])][col_name]
    col_diff_sum = col_diff.sum()
    all_acc_diffs.append(col_diff_sum)

In [51]:
df_aug[df_aug['class'].isin(all_emp_classes[0])]

                                        class  label  accuracy_0
ceviche/42489.jpg                     Ceviche     15   79.200005
huevos_rancheros/883821.jpg  Huevos rancheros     56   82.800003
garlic_bread/2981508.jpg         Garlic bread     46   83.599998
apple_pie/1272958.jpg               Apple pie      0   77.200005
filet_mignon/2325804.jpg         Filet mignon     37   83.599998
chocolate_mousse/612385.jpg  Chocolate mousse     22   78.400002
crab_cakes/943630.jpg              Crab cakes     26   84.800003
lasagna/207825.jpg                    Lasagna     59   84.000000
cheesecake/2574796.jpg             Cheesecake     16   82.000000

In [52]:
(df_aug[df_aug['class'].isin(all_emp_classes[0])]['accuracy_0'] - df_base[df_base['class'].isin(all_emp_classes[0])]['accuracy_0']).sum()

53.20000457763672

In [54]:
sum(all_acc_diffs)   /  9

5.911111619737413

In [55]:
all_acc_diffs

[53.20000457763672]

In [57]:
sum(all_acc_diffs)

53.20000457763672

In [58]:
all_acc_diffs

[53.20000457763672]

# Random

# Baseline runs

In [61]:
base_dir = "/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db"

runs   = [
            "MT_Baseline_8915e10296bdf7f70fb9b4bfed4f45fe/Metrics"
        ]

stats_filename = "agg_class_stats.pkl"

dhard_base = "/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db/Random/"

dhard_runs = [
              #"df_ISIAFood101_full_b0c600dc754670598cc20fd65f2d71c6_b0c600dc754670598cc20fd65f2d71c6_fc4e79326c45bb5e832b6abb5659732b.pkl"
              "df_ISIAFood101_full_d079a6abeaee999a97eaa51f8bdfba45_d079a6abeaee999a97eaa51f8bdfba45_fc4e79326c45bb5e832b6abb5659732b.pkl"
              ]

# Load labels
val_path = "/bigstor/common_data/food_101/DF/df_food101_val.pkl"
df_val = pd.read_pickle(val_path)

In [62]:
all_stats_paths = []
for r in runs:
    stats_path = os.path.join(base_dir, r, stats_filename)
    all_stats_paths.append(stats_path)
    

all_stats_acc = []
for path in all_stats_paths:
    stats = pd.read_pickle(path)
    all_stats_acc.append(stats['accuracy'])

In [63]:
df_val = df_val.drop_duplicates('label')
df_val_classes = df_val[['class', 'label']]

label_list = list(df_val_classes['label'])

all_acc_list = []
for i in range(len(all_stats_acc)):
    accuracy_list = [all_stats_acc[i][cl] for cl in label_list]
    all_acc_list.append(accuracy_list)

for i in range(len(all_acc_list)):
    col_name = f"accuracy_{i}"
    df_val_classes.insert(2, col_name, all_acc_list[i], True)

In [64]:
df_base = df_val_classes.copy()

cols = [f"accuracy_{i}" for i in range(len(all_acc_list))]
df_base['accuracy_0'].mean()
mean_accs = []
for c in cols:
    t_acc = df_base[c].mean()
    mean_accs.append(t_acc)
print("Accruracy for each run : ", mean_accs)
mean_accs = np.asarray(mean_accs)
print("Mean accuracy across runs : ", np.mean(mean_accs))

Accruracy for each run :  [87.53663514392211]
Mean accuracy across runs :  87.53663514392211

# Augmented runs

In [65]:
base_dir = "/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db"

runs = [
    #"MT_Augmented_a9d68f58fe8a7455ad7813f12154b806/Metrics", # Unicom size
    "MT_Augmented_5c524abe14b24fe845724faebc9666e0/Metrics" # Gradmatch size
]

stats_filename = "agg_class_stats.pkl"

# Load labels
#val_path = "/bigstor/zsarwar/Imagenet/DF/df_imagenet_dogs_val.pkl"
val_path = "/bigstor/common_data/food_101/DF/df_food101_val.pkl"
df_val = pd.read_pickle(val_path)

In [66]:
all_stats_paths = []
for r in runs:
    stats_path = os.path.join(base_dir, r, stats_filename)
    all_stats_paths.append(stats_path)
    
all_stats_acc = []
for path in all_stats_paths:
    stats = pd.read_pickle(path)
    all_stats_acc.append(stats['accuracy'])

In [67]:
df_val = df_val.drop_duplicates('label')
df_val_classes = df_val[['class', 'label']]

label_list = list(df_val_classes['label'])

all_acc_list = []
for i in range(len(all_stats_acc)):
    accuracy_list = [all_stats_acc[i][cl] for cl in label_list]
    all_acc_list.append(accuracy_list)

for i in range(len(all_acc_list)):
    col_name = f"accuracy_{i}"
    df_val_classes.insert(2, col_name, all_acc_list[i], True)   
#df_val_classes.insert(2, "accuracy", accuracy_list, True)

In [68]:
df_aug = df_val_classes.copy()

cols = [f"accuracy_{i}" for i in range(len(all_acc_list))]
df_aug['accuracy_0'].mean()
mean_accs = []
for c in cols:
    t_acc = df_aug[c].mean()
    mean_accs.append(t_acc)
print("Accruracy for each run : ", mean_accs)
mean_accs = np.asarray(mean_accs)
print("Mean accuracy across runs : ", np.mean(mean_accs))

Accruracy for each run :  [87.40198158037545]
Mean accuracy across runs :  87.40198158037545

# DF EMP

In [69]:
all_emp_paths = []
for r in dhard_runs:
    emp_path = os.path.join(dhard_base, r)
    all_emp_paths.append(emp_path)
    
all_df_emps = []

for p in all_emp_paths:
    df_emp = pd.read_pickle(p)
    all_df_emps.append(df_emp)

In [70]:
all_emp_classes = []
for i in range(len(all_df_emps)):
    emp_classes = all_df_emps[i]['class'].unique().tolist()
    all_emp_classes.append(emp_classes)

In [71]:
all_acc_diffs = []
for i in range(len(all_emp_classes)):
    col_name = f"accuracy_{i}"
    col_diff = df_aug[df_aug['class'].isin(all_emp_classes[i])][col_name] - df_base[df_base['class'].isin(all_emp_classes[i])][col_name]
    col_diff_sum = col_diff.sum()
    all_acc_diffs.append(col_diff_sum)

In [72]:
sum(all_acc_diffs) / 9

3.8222223917643228

In [73]:
df_aug[df_aug['class'].isin(all_emp_classes[0])]

                                        class  label  accuracy_0
ceviche/42489.jpg                     Ceviche     15   76.400002
huevos_rancheros/883821.jpg  Huevos rancheros     56   78.800003
garlic_bread/2981508.jpg         Garlic bread     46   83.200005
apple_pie/1272958.jpg               Apple pie      0   71.200005
filet_mignon/2325804.jpg         Filet mignon     37   82.000000
chocolate_mousse/612385.jpg  Chocolate mousse     22   80.000000
crab_cakes/943630.jpg              Crab cakes     26   83.599998
lasagna/207825.jpg                    Lasagna     59   82.000000
cheesecake/2574796.jpg             Cheesecake     16   79.599998

In [74]:
df_aug[df_aug['class'].isin(all_emp_classes[0])]['accuracy_0'] - df_base[df_base['class'].isin(all_emp_classes[0])]['accuracy_0']

ceviche/42489.jpg              0.400002
huevos_rancheros/883821.jpg    2.800003
garlic_bread/2981508.jpg       5.200005
apple_pie/1272958.jpg          4.800003
filet_mignon/2325804.jpg       8.000000
chocolate_mousse/612385.jpg    3.599998
crab_cakes/943630.jpg          2.799995
lasagna/207825.jpg             2.000000
cheesecake/2574796.jpg         4.799995
Name: accuracy_0, dtype: float64

In [76]:
all_acc_diffs

[34.400001525878906]

In [77]:
(sum(all_acc_diffs) / 9)

3.8222223917643228

# Unicom retrievals

In [24]:
df_uni = pd.read_pickle("/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db/Unicom/df_uecfood256_full_5380bfbd4407e03050ed26afbb98e440_74d7170cc8af0b8340d0290b43517cd1_58c5118d18fa07649b578fd9744876b2.pkl")

# Visualize DHard vs D_Retrieved

In [53]:
df_uni = pd.read_pickle("/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db/Unicom/df_uecfood256_full_5380bfbd4407e03050ed26afbb98e440_74d7170cc8af0b8340d0290b43517cd1_58c5118d18fa07649b578fd9744876b2.pkl")

In [3]:
#Augmented Labels
df_dhard = pd.read_pickle("/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db/Datasets/df_food101_val_test_empirical_35d052c2a3ff5225c6d663d84afbb33c.pkl")
#df_labels = df_labels.drop_duplicates('label')
dhard_labels = df_dhard['label'].unique().tolist()

In [4]:
df_dhard[df_dhard['class'] == 'Apple pie']['img_path'][1]

'/bigstor/common_data/food_101/food-101/images/apple_pie/229142.jpg'

In [ ]:
all_images = df_dhard[df_dhard['label'] == dhard_labels[7]]['img_path'].tolist()
# Visualize samples
for i, im_path in enumerate(all_images[0:50]):
    img = mpimg.imread(im_path)
    plt.axis('off')
    imgplot = plt.imshow(img)
    plt.figure()
    plt.clf()

In [10]:
# DF_Retrieved
#Augmented Labels
df_augmented = pd.read_pickle("/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db/Unicom/df_uecfood256_full_5380bfbd4407e03050ed26afbb98e440_74d7170cc8af0b8340d0290b43517cd1_58c5118d18fa07649b578fd9744876b2.pkl")
#df_labels = df_labels.drop_duplicates('label')
augmented_labels = df_augmented['label'].unique().tolist()

In [ ]:
all_images = df_augmented[df_augmented['label'] == dhard_labels[7]]['img_path'].tolist()
# Visualize samples
for i, im_path in enumerate(all_images[0:50]):
    img = mpimg.imread(im_path)
    plt.axis('off')
    imgplot = plt.imshow(img)
    plt.figure()
    plt.clf()