In [1]:
import pickle
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

In [2]:
pd.options.display.max_rows = 999

# UNICOM

# Baseline runs

In [3]:
base_dir = "/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db"

runs   = [
            "MT_Baseline_075a3dd4b758bf1dc5f8e45e79b19d95/Metrics",
            "MT_Baseline_a868a1618372a781faedfcb1574f5c16/Metrics",
            "MT_Baseline_8915e10296bdf7f70fb9b4bfed4f45fe/Metrics"
        ]

stats_filename = "agg_class_stats.pkl"

#dhard_base = "/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db/Datasets"
dhard_base = "/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db/Unicom"

dhard_runs = [
                "df_ISIAFood101_full_724b55bf67f1efbc408e1cef69d6e7f7_9c8fe4b91cb2afc1d25d106cd60963e9_3e0737d8b78962afa0b67ba77e951c87.pkl",
                "df_ISIAFood101_full_724b55bf67f1efbc408e1cef69d6e7f7_22dfce7bb51fec8e1fd2d3a20943a82d_5ffc427e66f5390037db8fecc795100e.pkl",
                "df_ISIAFood101_full_724b55bf67f1efbc408e1cef69d6e7f7_26cc028ee4570dad1731ccc3b64ed0d7_2a1c17607f8d0b7636202dfebb85cc70.pkl"
              ]

# Load labels
val_path = "/bigstor/common_data/food_101/DF/df_food101_val.pkl"
df_val = pd.read_pickle(val_path)

In [4]:
all_stats_paths = []
for r in runs:
    stats_path = os.path.join(base_dir, r, stats_filename)
    all_stats_paths.append(stats_path)
    

all_stats_acc = []
for path in all_stats_paths:
    stats = pd.read_pickle(path)
    all_stats_acc.append(stats['accuracy'])

In [5]:
df_val = df_val.drop_duplicates('label')
df_val_classes = df_val[['class', 'label']]

label_list = list(df_val_classes['label'])

all_acc_list = []
for i in range(len(all_stats_acc)):
    accuracy_list = [all_stats_acc[i][cl] for cl in label_list]
    all_acc_list.append(accuracy_list)

for i in range(len(all_acc_list)):
    col_name = f"accuracy_{i}"
    df_val_classes.insert(2, col_name, all_acc_list[i], True)

In [6]:
df_base = df_val_classes.copy()

cols = [f"accuracy_{i}" for i in range(len(all_acc_list))]
df_base['accuracy_0'].mean()
mean_accs = []
for c in cols:
    t_acc = df_base[c].mean()
    mean_accs.append(t_acc)
print("Accruracy for each run : ", mean_accs)
mean_accs = np.asarray(mean_accs)
print("Mean accuracy across runs : ", np.mean(mean_accs))

Accruracy for each run :  [87.67524938300105, 87.58416003992062, 87.53663514392211]
Mean accuracy across runs :  87.59868152228125

# Augmented runs

In [7]:
base_dir = "/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db"

runs = [
    "MT_Augmented_3de78d3545f996d4be9eb97a27855aee/Metrics",
    "MT_Augmented_3f8ea5b80b4a0ccdf4e7ad6644b21bc0/Metrics",
    "MT_Augmented_dce765a7507ca6b19a3e1fff7dd1b478/Metrics"
]


stats_filename = "agg_class_stats.pkl"

# Load labels
#val_path = "/bigstor/zsarwar/Imagenet/DF/df_imagenet_dogs_val.pkl"
val_path = "/bigstor/common_data/food_101/DF/df_food101_val.pkl"
df_val = pd.read_pickle(val_path)

In [8]:
all_stats_paths = []
for r in runs:
    stats_path = os.path.join(base_dir, r, stats_filename)
    all_stats_paths.append(stats_path)
    
all_stats_acc = []
for path in all_stats_paths:
    stats = pd.read_pickle(path)
    all_stats_acc.append(stats['accuracy'])

In [9]:
df_val = df_val.drop_duplicates('label')
df_val_classes = df_val[['class', 'label']]

label_list = list(df_val_classes['label'])

all_acc_list = []
for i in range(len(all_stats_acc)):
    accuracy_list = [all_stats_acc[i][cl] for cl in label_list]
    all_acc_list.append(accuracy_list)

for i in range(len(all_acc_list)):
    col_name = f"accuracy_{i}"
    df_val_classes.insert(2, col_name, all_acc_list[i], True)   
#df_val_classes.insert(2, "accuracy", accuracy_list, True)

In [10]:
df_aug = df_val_classes.copy()

cols = [f"accuracy_{i}" for i in range(len(all_acc_list))]
df_aug['accuracy_0'].mean()
mean_accs = []
for c in cols:
    t_acc = df_aug[c].mean()
    mean_accs.append(t_acc)
print("Accruracy for each run : ", mean_accs)
mean_accs = np.asarray(mean_accs)
print("Mean accuracy across runs : ", np.mean(mean_accs))

Accruracy for each run :  [87.25940738338055]
Mean accuracy across runs :  87.25940738338055

# DF EMP

In [14]:
all_emp_paths = []
for r in dhard_runs:
    emp_path = os.path.join(dhard_base, r)
    all_emp_paths.append(emp_path)
    
all_df_emps = []

for p in all_emp_paths:
    df_emp = pd.read_pickle(p)
    all_df_emps.append(df_emp)

In [15]:
all_emp_classes = []
for i in range(len(all_df_emps)):
    emp_classes = all_df_emps[i]['class'].unique().tolist()
    all_emp_classes.append(emp_classes)

In [ ]:
all_acc_diffs = []
for i in range(len(all_emp_classes)):
    col_name = f"accuracy_{i}"
    col_diff = df_aug[df_aug['class'].isin(all_emp_classes[i])][col_name] - df_base[df_base['class'].isin(all_emp_classes[i])][col_name]
    col_diff_sum = col_diff.sum()
    all_acc_diffs.append(col_diff_sum)

In [ ]:
sum(all_acc_diffs) / 3

44.26666514078776

In [15]:
df_aug[df_aug['class'].isin(all_emp_classes[0])]

,class,label,accuracy_2,accuracy_1,accuracy_0
ceviche/42489.jpg,Ceviche,15,77.599998,77.599998,79.599998
huevos_rancheros/883821.jpg,Huevos rancheros,56,82.400002,81.599998,77.599998
tiramisu/3041535.jpg,Tiramisu,98,82.800003,82.800003,85.200005
garlic_bread/2981508.jpg,Garlic bread,46,83.599998,82.800003,83.599998
apple_pie/1272958.jpg,Apple pie,0,76.000000,72.800003,71.200005
filet_mignon/2325804.jpg,Filet mignon,37,83.200005,76.400002,80.000000
crab_cakes/943630.jpg,Crab cakes,26,84.400002,82.000000,84.400002
lasagna/207825.jpg,Lasagna,59,80.800003,83.200005,84.800003
cheesecake/2574796.jpg,Cheesecake,16,80.400002,81.599998,81.200005
french_toast/3493695.jpg,French toast,42,80.000000,82.400002,84.800003

In [24]:
df_aug[df_aug['class'].isin(all_emp_classes[0])]['accuracy_0'] - df_base[df_base['class'].isin(all_emp_classes[0])]['accuracy_0']

ceviche/42489.jpg              4.799995
huevos_rancheros/883821.jpg    3.599998
tiramisu/3041535.jpg           5.600006
garlic_bread/2981508.jpg       2.399994
apple_pie/1272958.jpg          6.400002
filet_mignon/2325804.jpg       8.799995
crab_cakes/943630.jpg          3.199997
lasagna/207825.jpg             4.000000
cheesecake/2574796.jpg         1.600006
french_toast/3493695.jpg       3.599998
Name: accuracy_0, dtype: float64

In [17]:
(sum(all_acc_diffs) / 3) / 10

4.426666514078776

In [16]:
(sum(all_acc_diffs) / 10)

4.3999992370605465

# GradMatch

# Baseline runs

In [12]:
base_dir = "/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db"

runs   = [
            "MT_Baseline_075a3dd4b758bf1dc5f8e45e79b19d95/Metrics", # 40
            "MT_Baseline_7e0b9b0a19780ab4210dd40fe629df3f/Metrics", # 80
            "MT_Baseline_8915e10296bdf7f70fb9b4bfed4f45fe/Metrics"  # 60
        ]

stats_filename = "agg_class_stats.pkl"

dhard_base = "/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db/GradMatch"

dhard_runs = [
                "df_ISIAFood101_full_1707ca43a9ed0f95bee2a13e46fd0b4b_b47fc2912dae82dde5b4352e10c644a1_fc4e79326c45bb5e832b6abb5659732b.pkl", # 40
                "df_ISIAFood101_full_1707ca43a9ed0f95bee2a13e46fd0b4b_7b0879e9613a7a3647926965589fd62a_fc4e79326c45bb5e832b6abb5659732b.pkl",
                "df_ISIAFood101_full_1707ca43a9ed0f95bee2a13e46fd0b4b_5289451ec2850323a0b61a77657b4cbe_fc4e79326c45bb5e832b6abb5659732b.pkl" # 60
              ]

# Load labels
val_path = "/bigstor/common_data/food_101/DF/df_food101_val.pkl"
df_val = pd.read_pickle(val_path)

In [8]:
all_stats_paths = []
for r in runs:
    stats_path = os.path.join(base_dir, r, stats_filename)
    all_stats_paths.append(stats_path)
    

all_stats_acc = []
for path in all_stats_paths:
    stats = pd.read_pickle(path)
    all_stats_acc.append(stats['accuracy'])

In [9]:
df_val = df_val.drop_duplicates('label')
df_val_classes = df_val[['class', 'label']]

label_list = list(df_val_classes['label'])

all_acc_list = []
for i in range(len(all_stats_acc)):
    accuracy_list = [all_stats_acc[i][cl] for cl in label_list]
    all_acc_list.append(accuracy_list)

for i in range(len(all_acc_list)):
    col_name = f"accuracy_{i}"
    df_val_classes.insert(2, col_name, all_acc_list[i], True)

In [11]:
df_base = df_val_classes.copy()

cols = [f"accuracy_{i}" for i in range(len(all_acc_list))]
mean_accs = []
for c in cols:
    t_acc = df_base[c].mean()
    mean_accs.append(t_acc)
print("Accruracy for each run : ", mean_accs)
mean_accs = np.asarray(mean_accs)
print("Mean accuracy across runs : ", np.mean(mean_accs))

Accruracy for each run :  [87.67524938300105, 87.8534670537061, 87.53663514392211]
Mean accuracy across runs :  87.68845052687642

# Augmented runs

In [13]:
base_dir = "/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db"

runs = [
    "MT_Augmented_91a164d071c3dc8f5b02b791dae46f2e/Metrics", # 40
    "MT_Augmented_ff2c3d0212272170be19b351145f4317/Metrics", # 80
    "MT_Augmented_493f646c718adf1273403af48eea6b05/Metrics" # 60
]


stats_filename = "agg_class_stats.pkl"

# Load labels
#val_path = "/bigstor/zsarwar/Imagenet/DF/df_imagenet_dogs_val.pkl"
val_path = "/bigstor/common_data/food_101/DF/df_food101_val.pkl"
df_val = pd.read_pickle(val_path)

In [14]:
all_stats_paths = []
for r in runs:
    stats_path = os.path.join(base_dir, r, stats_filename)
    all_stats_paths.append(stats_path)
    
all_stats_acc = []
for path in all_stats_paths:
    stats = pd.read_pickle(path)
    all_stats_acc.append(stats['accuracy'])

In [15]:
df_val = df_val.drop_duplicates('label')
df_val_classes = df_val[['class', 'label']]

label_list = list(df_val_classes['label'])

all_acc_list = []
for i in range(len(all_stats_acc)):
    accuracy_list = [all_stats_acc[i][cl] for cl in label_list]
    all_acc_list.append(accuracy_list)

for i in range(len(all_acc_list)):
    col_name = f"accuracy_{i}"
    df_val_classes.insert(2, col_name, all_acc_list[i], True)   
#df_val_classes.insert(2, "accuracy", accuracy_list, True)

In [16]:
df_aug = df_val_classes.copy()

cols = [f"accuracy_{i}" for i in range(len(all_acc_list))]
df_aug['accuracy_0'].mean()
mean_accs = []
for c in cols:
    t_acc = df_aug[c].mean()
    mean_accs.append(t_acc)
print("Accruracy for each run : ", mean_accs)
mean_accs = np.asarray(mean_accs)
print("Mean accuracy across runs : ", np.mean(mean_accs))

Accruracy for each run :  [87.73069457252427, 87.69505075889059, 86.94653637574451]
Mean accuracy across runs :  87.4574272357198

# DF EMP

In [17]:
all_emp_paths = []
for r in dhard_runs:
    emp_path = os.path.join(dhard_base, r)
    all_emp_paths.append(emp_path)
    
all_df_emps = []

for p in all_emp_paths:
    df_emp = pd.read_pickle(p)
    all_df_emps.append(df_emp)

In [18]:
all_emp_classes = []
for i in range(len(all_df_emps)):
    emp_classes = all_df_emps[i]['class'].unique().tolist()
    all_emp_classes.append(emp_classes)

In [19]:
all_acc_diffs = []
for i in range(len(all_emp_classes)):
    col_name = f"accuracy_{i}"
    col_diff = df_aug[df_aug['class'].isin(all_emp_classes[i])][col_name] - df_base[df_base['class'].isin(all_emp_classes[i])][col_name]
    col_diff_sum = col_diff.sum()
    all_acc_diffs.append(col_diff_sum)

In [20]:
df_aug[df_aug['class'].isin(all_emp_classes[0])]

,class,label,accuracy_2,accuracy_1,accuracy_0
ceviche/42489.jpg,Ceviche,15,86.800003,82.400002,80.000000
huevos_rancheros/883821.jpg,Huevos rancheros,56,82.400002,80.000000,80.800003
tiramisu/3041535.jpg,Tiramisu,98,82.400002,82.800003,85.200005
garlic_bread/2981508.jpg,Garlic bread,46,85.599998,84.800003,84.000000
apple_pie/1272958.jpg,Apple pie,0,76.000000,78.000000,72.000000
filet_mignon/2325804.jpg,Filet mignon,37,81.200005,83.200005,83.200005
crab_cakes/943630.jpg,Crab cakes,26,85.599998,82.000000,85.599998
lasagna/207825.jpg,Lasagna,59,84.800003,83.200005,86.400002
cheesecake/2574796.jpg,Cheesecake,16,79.200005,84.800003,81.599998
french_toast/3493695.jpg,French toast,42,80.800003,86.800003,86.800003

In [21]:
(df_aug[df_aug['class'].isin(all_emp_classes[0])]['accuracy_0'] - df_base[df_base['class'].isin(all_emp_classes[0])]['accuracy_0']).sum()

57.199989318847656

In [23]:
sum(all_acc_diffs)  / 3 /  9

6.5037036471896705

In [24]:
all_acc_diffs

[57.199989318847656, 57.600006103515625, 60.80000305175781]

In [26]:
sum(all_acc_diffs) / 3

58.53333282470703

# Unicom retrievals

In [24]:
df_uni = pd.read_pickle("/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db/Unicom/df_uecfood256_full_5380bfbd4407e03050ed26afbb98e440_74d7170cc8af0b8340d0290b43517cd1_58c5118d18fa07649b578fd9744876b2.pkl")

# Visualize DHard vs D_Retrieved

In [53]:
df_uni = pd.read_pickle("/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db/Unicom/df_uecfood256_full_5380bfbd4407e03050ed26afbb98e440_74d7170cc8af0b8340d0290b43517cd1_58c5118d18fa07649b578fd9744876b2.pkl")

In [3]:
#Augmented Labels
df_dhard = pd.read_pickle("/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db/Datasets/df_food101_val_test_empirical_35d052c2a3ff5225c6d663d84afbb33c.pkl")
#df_labels = df_labels.drop_duplicates('label')
dhard_labels = df_dhard['label'].unique().tolist()

In [4]:
df_dhard[df_dhard['class'] == 'Apple pie']['img_path'][1]

'/bigstor/common_data/food_101/food-101/images/apple_pie/229142.jpg'

In [ ]:
all_images = df_dhard[df_dhard['label'] == dhard_labels[7]]['img_path'].tolist()
# Visualize samples
for i, im_path in enumerate(all_images[0:50]):
    img = mpimg.imread(im_path)
    plt.axis('off')
    imgplot = plt.imshow(img)
    plt.figure()
    plt.clf()

In [10]:
# DF_Retrieved
#Augmented Labels
df_augmented = pd.read_pickle("/bigstor/zsarwar/Enola_Augmented/MT_food101_full_101_f739c19e1aeeaea18c60b1bf802b05db/Unicom/df_uecfood256_full_5380bfbd4407e03050ed26afbb98e440_74d7170cc8af0b8340d0290b43517cd1_58c5118d18fa07649b578fd9744876b2.pkl")
#df_labels = df_labels.drop_duplicates('label')
augmented_labels = df_augmented['label'].unique().tolist()

In [ ]:
all_images = df_augmented[df_augmented['label'] == dhard_labels[7]]['img_path'].tolist()
# Visualize samples
for i, im_path in enumerate(all_images[0:50]):
    img = mpimg.imread(im_path)
    plt.axis('off')
    imgplot = plt.imshow(img)
    plt.figure()
    plt.clf()